
#header
{
    padding:20px;
    background-color: rgba(0,0,0,.7);
}
header
{
width:800px;
margin: auto;  
padding:80px;

}
#Logo
{
    display:inline-block;
    margin-top: 35px;
    margin-left: 35px;
  
   
}
#Title  
{
    display:inline-block;
    text-align: center;
    vertical-align: top;
    width: 80%;
    color: goldenrod;
    margin:100px;
    font-size:55px;
    padding:5px;
    
}
body
{
    background-color: #778899;
    background-image: url("images/bg.jpg");
   
    
}
#nav li
{
    display:inline;
    padding: 0px;
    margin: 0px;
    font-weight: bolder;
    font-size: 25px;
    
    
}
#nav a:link, #nav a:visited
{
    padding: 10px 10px 10px 50px;
     color:darkslateblue;
}
#nav a:hover
{
    color:whitesmoke;
  
}
#Content
{
    color:goldenrod;
    font-weight: bold;
    background-color: rgba(0,0,0,.4);
   
}
section
{
    border-style: solid;
    vertical-align: top;
    width: 60%;
    text-align: justify;
    padding: 2px;
    display:inline-block;
    
}
form
{
    
   
    padding: 10px;
    display:inline-block;
    margin-bottom: 50px;
    margin-left: 20px;
   
}
aside
{
    border-style: solid;
    display: inline-block;
    float:right;
    color: white;
    width: 35%;
}

#footer
{
    height: 300px;
    background-color: rgba(0,0,0,.95);
    color: whitesmoke;
    padding-top : 20px;
 
}
.centeredText
{
    
    text-align: center;
}
table
{
    border-collapse: collapse;
    border: 3px solid white;
    margin : auto;
}
#click  
{
   text-align: center;
   color: goldenrod;
}
#BlinkTitle
{
    text-align: center;
    color: goldenrod;
    font-weight: bold;
    font-size:xx-large;
    font-style: oblique;
    -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}
        
#ContentTop
{
    
    height: 400px;

}
#Contentimage
{
    width: 200px;
    height: 200px;
    padding: 0px;
    display: block;
    margin: auto;
}
#ContentText
{
    text-align: center;
    color: goldenrod;
}
.copyright
{
    text-align: center;
}
footer  
{
    height: 100px;
    background-color: rgba(0,0,0,.95);
    color: whitesmoke;
}
.centeredText li
{
    text-align: center;
}
img 
{
    width: 130px;
    display: block;
    margin: auto;

}
.fixed{
    bottom: 20px;
    right: 30px;
    position:fixed;
}
#Title
{
    color: goldenrod;
    display:inline-block;
}
a
{
   color: whitesmoke; 
}
a:visited
{
    color:gray;
}
.bottomlist
{
    width: 200px;
    list-style: none;
    margin: auto;
}
#titleastrology
{
    text-align: center;
}
#ContentAstrology
{
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
}
#ContentNumerology
{
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
}
#contactme
{
    width: 200px;
    margin: auto;
    text-align: center;
}

span
{
    text-align: center;
    color:white;
    padding: 38px;
}
#products1
{
    color:whitesmoke;
    width:250px;
    height:150px;

}
#display
{
    text-align:center;
    font-size: 30px;
     -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;
}